doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/stylesheet/email-box.css")
    title Email Box
      
  body 
    #container 
      h3 Local Mailbox Login 
      .body
        .item 
          label(for="email") Please enter email address
        .item 
          br
          input(type='email', id='email', name='email' onkeypress="enter(event)")
          script. 
            function enter(event) {
              if (event.keyCode === 13) {
                go();
              }
            }
        .item 
          br
          button(type="button", onclick="go()") Login 
          script. 
            function go(){
              if (email.value){
                location.href = `/email/${email.value}`;
              } else {
                alert('Please enter email address')
              }
            }